.mat-drawer:not(.mat-drawer-side) {
  position: fixed;
}

.mat-drawer-backdrop {
  position: fixed !important;
}

.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  text-align: center;
  outline: none;
}
