<div class="container pt-2">
  <mat-card [style.backgroundColor]="'#7b1fa2'">
    <mat-card-header>
      <mat-card-title>
        <h1>{{ 'pages.upcoming-features.title' | translate }}</h1>
      </mat-card-title>

      <mat-card-subtitle>
        <span>{{ 'pages.upcoming-features.subheader' | translate }}</span>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
    </mat-card-content>
  </mat-card>

  <div class="d-xl-inline-flex col-12 pl-0 pr-0 pr-xl-3">

    <mat-card class="mt-2 col-md-12 col-xl-4">
      <mat-card-content>
        <p>
          Einen Graphen der die aktuelle Seitenladezeit über einen Tag verteilt darstellt.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="mt-2 col-md-12 col-xl-4 ml-xl-2">
      <mat-card-content>
        <p>
          Visualisierung der täglichen Ausfallzeit in Minuten, sowie eine Angabe zu der ausgefallen Zeit in Minuten.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="mt-2 col-md-12 col-xl-4 ml-xl-2">
      <mat-card-content>
        <p>
          Weitere Erklärungen zur Funktionalität und zu den Daten über ein kleines FAQ.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
